// Colors


$black-letters:rgba(0,0,0,1);
$light-purple:rgb(142 75 137);
$dark-purple: rgba(109,11,101,1);
$frame-background-color: rgba(238, 234, 231, 1);
$main-background:rgba(228, 221, 221, 1);
$grey-less-dark: #191317;
$green-dark: rgba(0, 85, 111, 1);
$grey-middle: #3B3838;
$grey-light: #6E6969;
$almost-white: rgba(249, 238, 248, 1);
$greyD9: #d9d9d9;
$grey-very-light-70:rgba(255, 255, 255, 0.7);
$grey-dark:rgba(32, 29, 29, 1);
$orange-very-light: rgba(255, 237, 221, 1);


// Letters height
$mobile-sans-L: 24px;
$mobile-sans-S:18px;
$mobile-sans-XS:16px;

$serif-L: 24px;
$serif-S: 14px;

// Font family
$font-primary: "Ubuntu sans", sans-serif;
$font-secondary: "Source-serif4";