@import 'variables';

body{
  margin:0;
  padding: 0;

}
.app{
  box-sizing: border-box;
  max-width: 391px;
  height: 9775px;
  margin: 0 auto;
  background-color: #ddd;
  color: red;
  font-size: 30px;
  background-color: $main-background;
  position: relative;
}

.header, .main, .bottom{
  width: 100%;
  height: 500px;
  font-family: Arial, Helvetica, sans-serif;
}





.bottom{
  background-color: yellow;
}

.para {
  font-size: 20px;
  color: black;
}
