@import 'variables';

.footer{
  position: absolute;
  top: 9385px;
  width: 391px;
  height: 390px;
  background-color: $greyD9;
  font-family: $font-secondary;
}

.footer-top{
  padding-top: 20px;
  padding-left: 24px;
  color: $grey-middle;

  p{
    font-size: $serif-L;
  }

  div{
    display: flex;
    font-size: $serif-S;
    margin-top: 10px;

    
    span{
      padding-left: 18px;
      display:inline-block;
      height: 25px;
      line-height: 25px;
      
    }
  }
}

.footer-middle{
  padding-top: 20px;
  padding-left: 24px;

  .icon-wrapper{
    width: 251px;
    display:flex;
    justify-content: space-between;
  }

  img{
    height: 29px;
    width: auto;
  };

  a{
    margin-top: 15px;
    color: $green-dark;
    font-family: $font-secondary;
    font-size: $serif-S;
    text-decoration: none;
  }
}

.footer-bottom{
  padding-top: 10px;
  padding-left: 24px;
  
  p{
    font-family: $font-secondary;
    font-size: $serif-S;
    color: $grey-middle;
  }
}