@import 'variables';

.header{
  position:absolute;
  top: 790px;
  width:100%;

}

.header-firstLine{
  color: $dark-purple;
  width:100%;
  height: 29px;
  font-size: $mobile-sans-L;
  font-family: $font-primary;
  letter-spacing: 1px;
  margin-left: 24px;
}

.header-secondLine{
  font-family: $font-primary;
  font-size: $mobile-sans-S;
  color:#191317;
  margin-left: 24px;
  width:80%;
  height: 44px;
  letter-spacing: 1px;
}

.header-events :nth-child(even){
  background-color: $green-dark;
}

.header-events :nth-child(even) .number{
  color: $green-dark;
}



.header-event{
  display: flex;
  background-color: $light-purple;
  margin-bottom: 19px;
  position: relative;
}

.header-event .text{
  width: 185px;
  color: $almost-white;
  font-family: $font-primary;
  font-size: $mobile-sans-S;
  margin-left: 24px;
  letter-spacing: 1px;
}

.header-event .number{
  width: 66px;
  height:100%;
  font-family: $font-primary;
  font-size: $mobile-sans-L;
  color: $light-purple;
  background-color: $greyD9;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  right: 24px; 
}



 