@import 'variables';

div.slick-slide{
  height:400px;
}

.photo-container {
  width:90%;
  height: 296px;
  overflow:hidden;
  border-radius: 20px 20px 0 0;
  margin:0 auto;
}

.photo-container > img{
  width:100%;
  height:100%;
  object-fit: cover;
  border-radius: 20px 20px 0 0;
  margin:0 auto;
  
}

.slick-caption{
  height:75px;
  // border: 1px solid black;
  border-radius: 0 0 20px 20px;
  width:90%;
  margin:0 auto;
  box-shadow: 0 4px 4px rgba(0,0,0,0.25);
  background-color: $frame-background-color;
  padding:5px 0 0 0 ;
}

.slick-caption > p{
  font-size: $mobile-sans-XS;
  font-family: $font-primary;
  color: $grey-less-dark;
  margin: 5px 0 4px 31px;
  
}

