@import 'variables';


.main-content{
  width:391px;
  margin-top: 62px;
}

.main-content > header{
  height: 83px;
  background-color: $dark-purple;
  color: $almost-white;
  font-family: $font-primary;
  font-size: $mobile-sans-L;
  letter-spacing: 2px;
  padding-left: 25px;
  display: flex;
  align-items: center;
  margin-top: 65px;
  margin-bottom: 30px;
 
  &  span{
    display: block;
  }
}


